/* author */

.reveal div.author {
	width: 80%;
	margin: 150px auto 0;
	text-align: left;
	}

.reveal div img.author-avatar {
	float: left;
	width: 300px;
	margin: 0 60px 0 0;
	border: 0;
	border-radius: 50%;
	}

.reveal div.author-main {
	padding-top: 80px;
	}

.reveal div.author-contacts {
	margin-top: 40px;
	}

.reveal h1[data-number]:before,
.reveal h2[data-number]:before {
    content: attr(data-number)'.';
    display: inline;
    margin-right: 20px;
    vertical-align: baseline;
    font-size: .75em;
    color: rgba(48,48,48,.75);
    }

.reveal .topic-container {
	height: 700px;
	margin-top: 60px;
}

.reveal a:not(.image) {
	color: #39c2d7;
}

.reveal .first-letter {
	color: #39c2d7;
}

.mainpage body .slide-background.present {
	background-position: center !important;
	background-size: cover !important;
}

body .slide-background {
	background-repeat: no-repeat !important;
}

.mainpage body::before {
	content: "";
	position: absolute;
	right: 5%;
	top: 10%;
	z-index: 1;
	width: 288px;
	height: 108px;
	background: url(../assets/i/epam_logo_white.png) center no-repeat;
	background-size: cover;
}

.mainpage time {
	display: block;
	position: relative;
	right: -10%;
	bottom: -100px;
	text-align: right;
	font-size: .75em;
}

.reveal h1 {
	color: rgba(255,255,255,.95);
	text-shadow: 0 2px 4px rgba(0,0,0,.5),
				 0 -1px 3px rgba(0,0,0,.5);
}

.reveal h1::before,
.reveal h1::after {
	content: "";
}

.mainpage .reveal h3 {
	text-shadow: 0 1px 3px rgba(0,0,0,.5),
				 0 -1px 1px rgba(0,0,0,.5);
}

.mainpage .reveal section > * {
	color: #fff;
}

.reveal ul li,
.reveal ol li {
	list-style: none !important;
}

/* Backgrounds */

.mainpage .slide-background {
	background: url(../assets/i/mainpage-bg.jpg);
	background-repeat: no-repeat;
}

.bg-2001 .slide-background {
	background: url(../assets/i/2001-bg.jpg);
	background-size: cover;
}

.bg-2016 .slide-background {
	background: url(../assets/i/2016-bg.jpg);
	background-size: cover;
}

.rd-labs-before-bg .slide-background {
	background: url(../assets/i/lost-ship.png);
	background-size: cover;
	background-position: center;
}

.rd-labs-before-bg .slide-background::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}

.rd-labs-nowadays-bg .slide-background {
	background: url(../assets/i/super-ship.jpg);
	background-size: cover;
	background-position: center;
}

/*.rd-labs-nowadays-bg .slide-background::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.3);
}*/

.rd-students-collage .slide-background {
	background: url(../assets/i/epamers.jpg) center repeat;
}

.rd-students-stat .slide-background {
	background: url(../assets/i/epamers.jpg) center repeat;
}

.rd-students-stat .slide-background::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.85);
}

/* Slides */

.cources-types-list {
	width: 100%;
	margin-top: 100px;
}

.cources-types-item {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	text-align: center;
}

.cources-types-item__image {
	max-width: 75% !important;
	margin-bottom: 20px;
}

.fe-labs-cources-types-list {
	width: 100%;
	text-align: center;
}

.fe-labs-cources-types-item {
	display: inline-block;
	width: 33%;
	vertical-align: bottom;
}

.fe-labs-cources-types-item__image {
	max-width: 75% !important;
}

.rd-labs-before-bg h2 {
	color: #fff;
}

.rd-labs-nowadays-bg h2 {
	color: #fff;
	text-shadow: 0 2px 4px rgba(0,0,0,.6),
						   0 -1px 4px rgba(0,0,0,.6);
}

.reveal h2 i {
	font-size: .25em;
	/*color: #999;*/
	text-transform: none;
}

.reveal .coloured-symbols {}

.reveal .coloured-symbols_blue {
	color: #39c2d7;
}

.process-list {
	width: 100%;
	margin-left: 0 !important;
}

.process-list li {
	text-align: center;
}

.process-list li:not(:first-child)::before {
	content: "↓";
	display: block;
	margin: auto;
	color: #39c2d7;
}